/* Add this in your CSS file */
.MuiMenu-paper {
    border-radius: 10px !important;
    box-shadow: -1px 4px 18px rgba(0, 0, 0, 0.8) !important;
    width: 240px !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 14px !important;
    color: var(--customBlue) !important;
   
    padding: 0 !important;
  }