@tailwind base;
@tailwind components;
@tailwind utilities;

.candidate-info-main-container {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.scroll-width-none {
  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-width-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.tab-title-text {
  @apply font-ubuntu text-m;
}
.buttons {
  @apply px-[10px] py-[10px] max-h-[36px] text-m font-ubuntu rounded-[8px] flex items-center gap-1 min-w-[120px] justify-center;
}
/* .buttons{
    @apply px-[14px] py-[10px] max-h-[36px] text-m font-ubuntu rounded-[8px] flex items-center gap-1 
} */
.th-title {
  @apply px-2 py-3 font-ubuntu font-medium text-m text-customBlue justify-center text-left ml-10 max-w-[380px];
}
.td-text {
  @apply px-2 py-3 font-ubuntu font-normal text-m text-customBlue max-w-full text-left;
}

.upload-resume-header {
  padding: 16px;
  background-color: var(--white);
  position: sticky;
  top: 0px;
}

.upload-resume-header-btn-div {
  display: flex;
  gap: 6px;
  border-bottom: 1px solid var(--grey);
  width: fit-content;
}

.tab-resume-upload {
  padding: 8px 10px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  box-sizing: border-box;
  transition: border-bottom 300ms ease, color 300ms ease;
}

.active-tab-resume-upload {
  color: var(--dark-black);
  border-bottom: 1px solid var(--dark-black);
}

.disable-tab-resume-upload {
  border-bottom: none;
  color: var(--grey);
}

.upload-resume-main-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  /* overflow: auto; */
  flex: 1;
}

.upload-resume-inner-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 20px;

  /* max-width: 600px; */
}
.upload-resume-inner-container-section1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  padding: 20px;
  /* max-width: 600px; */
}

.font-16-medium {
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.38px;
  margin: 0px;
}

.font-16-regular {
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.38px;
  margin: 0px;
}

.font-14-regular {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  margin: 0px;
}

.font-14-medium {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.09px;
  margin: 0px;
}

.text-uppercase {
  text-transform: uppercase;
}

.resume-indo-list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 20px;
}

.learn-more-link {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: #1761d8;
  cursor: pointer;
}

.resume-history-header {
  position: sticky;
  top: 0px;
  padding: 16px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-icon {
  min-width: 16px;
  height: 16px;
  border: 1px solid #151b23;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio-active-circle {
  min-width: 9.33px;
  height: 9.33px;
  border-radius: 100px;
  background-color: #151b23;
  transition: all 300ms ease;
}

.radio-btn-div {
  padding: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.file-label {
  padding: 6px 10px;
  background-color: #f1f6fd;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: #1761d8;
  border-radius: 6px;
  align-self: flex-start;
  margin-top: 12px;
}

.profile-progress-div-1 {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #98d4df;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--dark-black);
  box-sizing: border-box;
}

.profile-progress-div-2 {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid #98d4df;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--dark-black);
  box-sizing: border-box;
}

.candidate-info-header {
  padding: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.candidate-info-label {
  border: 1px solid #d7d7d7;
  padding: 6px 10px;
  min-height: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 400;
  line-height: 13.79px;
  color: var(--dark-black);
}

.add-label-btn-candidate-info {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 400;
  line-height: 13.79px;
  color: #1761d8;
}

.candidate-info-tab-main {
  display: flex;
  gap: 6px;
  border-bottom: 1px solid #797979;
}

.candidate-info-tab-btn {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 34px;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: #797979;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: border-bottom 300ms ease, color 300ms ease;
}

.candidate-customization-tab-btn {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 34px;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: #797979;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: border-bottom 300ms ease, color 300ms ease;
}

.active-info-tab {
  border-bottom: 1px solid var(--dark-black);
  color: var(--dark-black);
}

.candidate-info-tab-count {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: #1761d8;
}

.customize-btn {
  min-height: 36px;
  max-height: 36px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #1761d8;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  color: #1761d8;
  display: flex;
  align-items: center;
  gap: 6px;
}

.common-menu-item-btn {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
  line-height: 13.79px;
  color: var(--dark-black);
  background-color: transparent;
  transition: background-color 300ms ease;
}

.common-menu-item-btn:hover {
  background-color: rgba(23, 97, 216, 0.06);
}

/* .css-1toxriw-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  outline: 0;
} */

.candidate-info-inner-container {
  flex: 1;
  padding: 10px 16px;
  overflow-y: auto;
}

.candidate-info-summary-container {
  column-count: 2;
  column-gap: 12px;
}

.min-width-45 {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  margin-bottom: 12px;
}

.candidate-customization-header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.padding-16 {
  padding: 16px;
}

.candidate-customization-tab-main {
  display: flex;
  gap: 6px;
  border-bottom: 1px solid #797979;
  width: max-content;
}

.candidate-customization-container {
  flex: 1;
  padding: 10px 36px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  overflow-y: auto;
}

.customize-summary-field-ul {
  list-style-type: disc;
  padding: 0px;
  margin-left: 26px;
}

.candidate-customization-inner-container {
  display: flex;
  gap: 26px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.label-main-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
}

.category-main-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
}

.candidate-customization-category-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customize-category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  min-height: 40px;
  gap: 8px;
  transition: background-color 300ms ease;
}

.customize-label-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  min-height: 40px;
  gap: 8px;
}
.customize-field-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.customize-category-item:hover {
  background-color: #f3f4f4;
}

.customize-category-input {
  padding: 0px;
  min-height: 40px;
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  letter-spacing: 0%;
  color: var(--grey);
  box-sizing: border-box;
  transition: color 300ms ease;
}

.customize-category-input::selection {
  background-color: rgba(23, 97, 216, 0.12);
}

.selected-customize-category-input {
  color: var(--dark-black) !important;
}

.selected-category-item {
  background-color: #1761d80f !important;
}

.color-error {
  color: #e03636;
}

.select-label-color-div {
  max-width: 548px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px auto;
}

.default-color-btn {
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 6px;
  background-color: transparent;
}

.selected-color-btn {
  background-color: #d7d7d7;
}

.default-color-div {
  display: flex;
  align-items: center;
  column-gap: 100px;
  row-gap: 26px;
  justify-content: space-between;
}
