@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-width-none {
    /* Hide scrollbar for all browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-width-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.tab-title-text{
    @apply font-ubuntu text-m
}
.buttons{
    @apply px-[14px] py-[10px] max-h-[36px] text-m font-ubuntu rounded-[8px] flex items-center gap-1
}