.ql-toolbar .ql-bold.ql-active svg,
.ql-toolbar .ql-italic.ql-active svg,
.ql-toolbar .ql-underline.ql-active svg,
.ql-toolbar .ql-redo.ql-active svg,
.ql-toolbar .ql-undo.ql-active svg,
.ql-toolbar .ql-link.ql-active svg {
  stroke: #06c !important;
}

.ql-toolbar .ql-active.ql-list[value="ordered"] svg,
.ql-toolbar .ql-active.ql-list[value="bullet"] svg {
  stroke: #06c !important;
  fill: #06c;
}

.main-container-html-view {
  border: 1px solid var(--off-white);
  border-radius: 8px;
  z-index: 99;
}

.common-input {
  width: 100%;
  height: 38px;
  border: 1px solid #f3f4f4;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  font-size: 12px;
  line-height: 13.79px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--dark-black);
  z-index: 9999;
  transition: border 300ms ease;
}

.common-date-select-div {
  width: 100%;
  height: 38px;
  border: 1px solid #f3f4f4;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  transition: border 300ms ease;
}

.common-input::placeholder {
  color: var(--grey);
}

.common-dropdown {
  border: 1px solid var(--off-white);
  border-radius: 8px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
}

.company-dropdown {
  border: 1px solid #1761d8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.common-dropdown-text {
  font-size: 12px;
  line-height: 13.79px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--dark-black);
}

.main-container-html-view .ql-container {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  min-height: 160px;
  background: transparent;
  padding: 12px;
  margin: 0px;
  border: none;
}

.editor-main-div {
  border: 1px solid #d7d7d7;
  border-radius: 8px;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  box-sizing: border-box;
  height: 100%;
  outline: none;
  overflow-y: auto;
  min-height: 120px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0px;
  font-size: 12px !important;
  line-height: 13.79px !important;
  font-family: "Ubuntu" !important;
  font-weight: 400;
  color: var(--dark-black);
  border: none !important;
}
.ql-editor::placeholder {
  color: #797979 !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #d7d7d7 !important;
  box-sizing: border-box;
  font-family: "Ubuntu";
  max-height: 40px;
}

.ql-snow .ql-formats {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
  border: none !important;
  padding: 0px;
}

.ql-snow .ql-tooltip {
  background-color: #fff;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
  left: 50% !important;
  transform: translateX(-50%);
  font-family: "Ubuntu";
}

.ql-snow .ql-picker-options {
  background-color: #fff;
  display: none;
  min-width: 100%;
  padding: 2px 6px;
  position: absolute;
  white-space: nowrap;
}

.custom-dropdown-size {
  position: relative;
}

.custom-dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
}

.custom-dropdown-menu-size {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: auto !important;
  padding: 3px 5px;
  width: auto !important;
}

.custom-dropdown-menu-size button {
  background: transparent;
  border: none !important;
  padding: 5px 12px !important;
  cursor: pointer !important;
  text-align: left !important;
  width: 100% !important;
}

.custom-dropdown-menu-size button:hover {
  background: #f0f0f0 !important;
  color: var(--dark-black) !important;
}

.common-btn {
  padding: 10px 14px;
  min-width: 140px;
  border-radius: 8px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 36px;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--white);
  box-sizing: border-box;
}

.common-delete-btn {
  padding: 10px 12px;
  min-width: 120px;
  border-radius: 8px;
  background-color: #e03636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--white);
  box-sizing: border-box;
}

.common-add-btn {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 36px;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--white);
  box-sizing: border-box;
  transition: background-color 300ms ease;
}

.common-cancel-btn {
  padding: 10px 12px;
  min-width: 120px;
  border-radius: 8px;
  border: 1px solid #1761d8;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: #1761d8;
  box-sizing: border-box;
  transition: border 300ms ease, color 300ms ease;
}

.disable-cancel-btn {
  color: #797979;
  border: 1px solid #797979;
}

.disable-add-btn {
  background-color: #797979;
}

.cancel-btn {
  padding: 10px 14px;
  min-width: 120px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 14px;
  line-height: 16.09px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--blue);
  box-sizing: border-box;
}

.disable-common-btn {
  background-color: var(--grey);
}

.phone-input-div {
}

.phone-input-style {
  width: 100%;
  border: none;
  display: flex;
  gap: 6px;
  padding: 12px 12px 12px 0px;
  background-color: transparent;
  border: 1px solid #f3f4f4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 38px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 13.79px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--dark-black);
}

.react-tel-input .form-control {
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;
  margin-left: 0;
  border: none !important;
  flex: 1;
  outline: none;
  font-size: 12px !important;
  line-height: 13.79px !important;
  font-family: "Ubuntu" !important;
  font-weight: 400 !important;
  color: var(--dark-black) !important;
  height: 100%;
  width: 100% !important;
  background-color: transparent !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  border-radius: 3px 0 0 3px;
  background-color: transparent !important;
}

.react-tel-input .country-list .search-emoji {
  display: none;
}

.react-tel-input .country-list {
  outline: none;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  min-width: 370px;
  max-height: 155px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 3px 3px;
  z-index: 99999 !important;
}

.dropdown-container {
  position: absolute;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 4px 12px 0px #0000001a;
  border-radius: 8px;
  height: auto;
  max-height: 260px;
  overflow: auto;
  z-index: 99999;
  margin-top: 2px;
  transition: height 2s ease;
}

.job-company-name {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.09px;
  color: var(--dark-black);
}

.job-company-place-name {
  font-family: "Ubuntu";
  font-size: 10px;
  font-weight: 400;
  line-height: 11.49px;
  color: var(--dark-black);
}

.job-company-icon-div {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background-color: #8282d8;
}

.job-list-item-div {
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.normal-list-item-div {
  padding: 12px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.normal-list-item-div:hover {
  background-color: #1761d80f;
}

.job-list-item-div:hover {
  background-color: #1761d80f;
}

.bg-selected {
  background-color: #1761d80f;
}

.error-common-input {
  border: 1px solid #e03636;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-btn.selected-header {
  background-color: #007bff;
  color: white;
}

.dropdown-content {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 120px;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.dropdown-item.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.search-box-div {
  min-height: 36px;
  max-height: 36px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  /* background-color: #f3f4f4; */
  border-radius: 8px;
  border: 1px solid #f3f4f4;
}

.common-input-field {
  min-height: 100%;
  background-color: transparent;
  flex: 1;
  border: none;
  padding: 0px;
  outline: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.09px;
  color: var(--dark-black);
}

.common-input-field::placeholder {
  color: var(--grey);
}

.jon-status-list-div {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid #151b23;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the select dropdown */
.ql-align {
  appearance: none; /* Hide default browser styling */
  background: transparent;
  border: none;
  font-size: 14px;
  color: #333;
  /* padding: 5px 10px; */
  cursor: pointer;
}

/* Style the dropdown container */
.ql-align-dropdown {
  display: flex;
  align-items: center;
  width: 50px;
  gap: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  background: red;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

/* Change background when hovering */
.ql-align-dropdown:hover {
  background: red;
}

/* Apply styles when select is active */
.ql-align:focus {
  outline: none;
  border-color: #1761d8;
}

/* Hide the default dropdown arrow */
.ql-align::-ms-expand {
  display: none;
  background: #007bff;
}

/* Style the dropdown arrow */
.ql-align-dropdown svg {
  width: 20px;
  height: 14px;
  fill: #333;
}

/* Option styling (Not fully supported in all browsers) */
.ql-align option {
  background: red;
  color: #333;
  font-size: 14px;
  padding: 5px;
}

.color-error {
  color: #e03636;
}

.company-list-item-div {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.common-switch-container {
  display: flex;
  align-items: center;
  width: 46px;
  height: 24px;
  border-radius: 100px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 300ms;
}

.common-switch-inner {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #00000029;
  transition: all 300ms;
}

.translate-x-0 {
  transform: translateX(0px);
}

.translate-x-end {
  transform: translateX(calc(46px - 20px));
}

.selected-options-item {
  padding: 8px;
  background-color: transparent;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}
