table {
  width: 100%;
}

th,
td {
  text-align: left;
  font-size: 14px !important;
  line-height: 16.09px !important;
  color: var(--dark-black) !important;
  font-family: "Ubuntu" !important;
  font-weight: 400;
  border: none !important;
}

td {
  padding: 6px 12px 16px 12px !important;
  border-bottom: 1px solid #d7d7d7 !important;
}

tr:last-child td {
  border-bottom: none !important;
}

th {
  padding: 14px 12px !important;
  background-color: #e8effb !important;
  font-weight: 500 !important;
}

.eye-icon {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.hover-row:hover .eye-icon {
  opacity: 1;
}

.candidate-details-main-container {
  border: 1px solid rgba(215, 215, 215, 1);
  background-color: var(--white);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  z-index: 9999;
  transition: all 400ms ease;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 6px 0px;
}

.add-details-btn {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
  line-height: 13.79px;
  color: #1761d8;
  align-self: start;
}

.edit-details-btn {
  opacity: 0;
  transition: opacity 350ms ease;
}

.detail-row:hover .edit-details-btn,
.candidate-experince-item:hover .edit-details-btn {
  opacity: 1;
}

.candidate-experince-item {
  cursor: default;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-h-26 {
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background-color: var(--grey);
  overflow: hidden;
}

.candidate-info-skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  background-color: #1761d81a;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  color: var(--dark-black);
  gap: 6px;
}

.job-type-label {
  padding: 5px 10px;
  background-color: #1761d81f;
  border-radius: 100px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
  line-height: 13.79px;
  text-align: center;
  color: var(--dark-black);
}

.category-add-fields-drawer {
  width: 460px;
  height: 100%;
  padding: 20px;
  background-color: var(--white);
  box-sizing: border-box;
  overflow: hidden;
}

.add-field-drawer-inner {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-field-drawer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  @apply px-[10px] py-[10px] max-h-[36px] text-m font-ubuntu rounded-[8px] flex items-center gap-1  justify-center;
}

/* create candidate form  */
.main-container-candidateForm {
  @apply items-center justify-between min-w-[1200px];
  margin-left: 120px;
  margin-right: 120px;
  font-family: "Ubuntu", sans-serif;
  /* display: block; */
  flex: 1;
  align-items: center;
}
.candidate-upload-img-div {
  min-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #797979;
  background-color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #1976d2;
  padding-bottom: 5px;
  margin-top: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.editor-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.toolbar {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.toolbar-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
}

.toolbar-btn.bold {
  font-weight: bold;
}

.toolbar-btn.italic {
  font-style: italic;
}

.toolbar-btn.underline {
  text-decoration: underline;
}

textarea {
  height: 80px;
  resize: none;
}

.add-btn {
  background-color: transparent;
  color: #1976d2;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.add-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-input {
  @apply bg-white  flex px-2 py-3 border-none h-[38px] leading-[14px] border-customGrey1 rounded-[8px] text-sm font-ubuntu text-customBlue placeholder:text-customGray focus:outline-none focus:ring-0;
}

.flex-2 {
  flex: 2.5;
}

.arrow-icon-btn-collpase {
  rotate: 180deg;
  transition: rotate 300ms ease;
}

.arrow-icon-btn {
  rotate: 0deg;
  transition: rotate 300ms ease;
}
