@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
.btn-custom {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.card-custom {
  @apply shadow-lg p-6 bg-gray-100 rounded-lg items-center flex-grow-0;
}
/* Add this in your global CSS (e.g., index.css or App.css) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide_hamemenu {
  display: none;
}

.main-content {
  position: relative;
}

.main-container {
  background-color: var(--white);
  width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.custom-toast {
  min-width: 400px !important;
  background-color: #F3F4F4 !important;
  color: #151B23 !important;
  border-radius:8px ;

  /* opacity: 0.8; */
}

@media screen and (max-width: 567px) {
  .custom-toast {
    min-width: 300px !important;
  }
}

.custom-toast .Toastify__close-button {
  color: #797979 !important;
  /* opacity: 0.8 !important; */
}
